<div class="container mt-5">
    <h3>Products</h3>
    <hr>
    <div class="row">
        <div class="col-4" *ngFor="let product of products">
            <div class="card shadow product-card m-2">
                <img [src]="product.thumbnail"  class="card-img-top product-img" alt="...">
                <div class="card-header  rounded-top text-white">
                    <div class="badge badge-success p-2">
                        Rs. {{product.price}}/-
                    </div>
                </div>
                <div class="card-body product-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>