<!-- As a heading -->
<nav class="navbar navbar-light bg-warning">
    <span class="navbar-brand mb-0 h1" routerLink="/" style="cursor: pointer;">{{appName | uppercase}}</span>
    <div class="form-inline" *ngIf="!user">
        <button class="btn btn-dark mr-sm-2" routerLink="/login" >Login</button>
        <button class="btn btn-success my-2 my-sm-0" routerLink="/signup">Signup</button>
    </div>
    <div class="form-inline" *ngIf="user">
        <div class="mr-sm-2">Hello, {{user.firstname}}</div>
        <button class="btn btn-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
</nav>